body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* main content of screen */
main {
  min-height: 85vh;
}

h1 {
  padding-top: 2.5rem;
}

h2 {
  padding-top: 4rem;
  padding-bottom: 1rem;
}

h3 {
  padding-top: 2.5rem;
  padding-bottom: 0.5rem;
}

p {
  padding-top: 0.5rem;
  margin-bottom: 0;
}

.avatar {
  border-radius: 50%;
  background-color: antiquewhite;
}

/* carousel */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
}

.carousel {
  background-color: #d3dedc;
}

.carousel img {
  display: block;
  height: 300px;
  width: 500px;
  border-radius: 20%;
  padding: 30px;
  margin: 3rem auto 12rem;
}

.carousel p {
  color: darkgray;
}

/* card */
.card {
  width: 17.5rem;
  margin-bottom: 2rem;
  height: 700px;
}
.card-img-top {
  height: 200px;
}

.card .fa-shopping-cart {
  text-align: right;
  margin: 1rem 1rem 2rem auto;
  /* color: gold; */
}

.card-title {
  min-height: 30%;
}

.card-text {
  min-height: 45%;
}

button[editext='edit-button'] {
  display: none;
}

button[editext='save-button'] {
  display: none;
}

button[editext='cancel-button'] {
  display: none;
}
